.hide {
  display: none;
}

.wrapper {
  position: relative;
}
.game-menu {
  position: absolute;
  margin-top: 200px;
  left: 43%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#canvas {
  margin-left: 25%;
  opacity: 40%;
}

#captured {
  background-color: #f5f5f5;
}

#color-reverse,
#ai,
#play-as-white {
  margin: 5px;
  display: block;
  padding: 15px;
  background-color: #95bb4a;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

#color-reverse:hover,
#ai:hover,
#play-as-white:hover,
#continue:hover {
  background-color: red;
}

#result {
  margin: 5px;
  display: none;
  padding: 15px;
  background-color: red;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.icon {
  display: inline;
}

#continue {
  display: none;
  margin: 5px;
  padding: 15px;
  background-color: #95bb4a;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
